In [3]:
!pip install psycopg2-binary sqlalchemy

import pandas as pd
from datetime import datetime

Requirement already satisfied: psycopg2-binary in /Users/James/opt/anaconda3/lib/python3.9/site-packages (2.9.10)
Requirement already satisfied: sqlalchemy in /Users/James/opt/anaconda3/lib/python3.9/site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in /Users/James/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)

[notice] A new release of pip is available: 24.2 -> 25.0
[notice] To update, run: pip install --upgrade pip

In [4]:
df =  pd.read_csv('/Users/James/Desktop/LIQUOR STORE STUFF/TransactionDec21.csv')
df.head(5)

,Trans ID,Item Descr,Item Size,Item Desc & Size,Dept Group Desc,Dept Desc,SubDept Desc,Unit Retail,Retail,Units
0,1638367040181,SIMONETTI CHIANTI,1.5L,SIMONETTI CHIANTI 1.5L,WINE,I M P O R T E D W I N E S,ITALIAN,$10.99,-$21.98,-2
1,1638367254780,SVEDKA VODKA MINI,EACH,SVEDKA VODKA MINI EACH,LIQUOR,D O M E S T I C W H I S K E Y,MINIATURE BOTTLES,$1.19,$4.76,4
2,1638367303580,MAJORSKA VODKA,200ML,MAJORSKA VODKA 200ML,LIQUOR,V O D K A,DOMESTIC,$2.99,$5.98,2
3,1638367388680,MAJORSKA VODKA,375ML,MAJORSKA VODKA 375ML,LIQUOR,V O D K A,DOMESTIC,$4.99,$14.97,3
4,1638367388680,PLANTERS ASST.TUBE NUTS,EACH,PLANTERS ASST.TUBE NUTS EACH,MISC.,MISC. NON-TAXABLE ITEMS,JUICE/SNAX/WATER NON-TAX.,$0.99,$0.99,1

In [ ]:
df['Unit Retail'] = df['Unit Retail'].str.replace('$','')
df['Unit Retail'] = df['Unit Retail'].str.replace(',','')
df['Unit Retail'] = df['Unit Retail'].astype(float)

In [27]:
items = df.groupby(['Item Desc & Size'])['Unit Retail'].max().to_dict()
df1 = pd.DataFrame(items, index=[0]).T.reset_index().rename(columns={'index': 'product_name', 0: 'product_price'})
df1['product_id'] = df1.index + 1
df1.map(lambda x: x)

                            product_name  product_price  product_id
0     12 KNIGHTS OPULENT  RED WINE 750ML           9.99           1
1           14  HANDS HOT TROT CAN 375ML           4.99           2
2       14  HANDS PINOT GRIGIO CAN 375ML           4.99           3
3                     14 HANDS CAB 750ML          11.99           4
4                   14 HANDS CHARD 750ML          11.99           5
...                                  ...            ...         ...
5213               ZYWIEC 12PK BOT 2402B           1.42        5214
5214                ZYWIEC 16.9 OZ 2020B           1.89        5215
5215               ZYWIEC 4PK CANS 2404B           1.62        5216
5216                ZYWIEC 6PK BOT 2404B           1.50        5217
5217         ZYWIEC PORTER 16.9 OZ 2020B           1.99        5218

[5218 rows x 3 columns]

In [26]:
df1.merge(df, left_on='product_name', right_on='Item Desc & Size', how='right').drop(columns=['Trans ID', 'Item Descr', 'Retail', 'Units', 'Unit Retail', 'Item Desc & Size'])

,product_name,product_price,product_id,Item Size,Dept Group Desc,Dept Desc,SubDept Desc
0,SIMONETTI CHIANTI 1.5L,10.99,4149,1.5L,WINE,I M P O R T E D W I N E S,ITALIAN
1,SVEDKA VODKA MINI EACH,1.19,4609,EACH,LIQUOR,D O M E S T I C W H I S K E Y,MINIATURE BOTTLES
2,MAJORSKA VODKA 200ML,2.99,3096,200ML,LIQUOR,V O D K A,DOMESTIC
3,MAJORSKA VODKA 375ML,4.99,3097,375ML,LIQUOR,V O D K A,DOMESTIC
4,PLANTERS ASST.TUBE NUTS EACH,0.99,3744,EACH,MISC.,MISC. NON-TAXABLE ITEMS,JUICE/SNAX/WATER NON-TAX.
...,...,...,...,...,...,...,...
71067,CAPT MORGAN SPICED RUM 750ML,17.99,1006,750ML,LIQUOR,R U M,RUM
71068,BUTTER CABERNET 750ML,14.99,888,750ML,WINE,D O M E S T I C W I N E,PREMIUM CALIFORNIA WINES
71069,HENNESSY COGNAC VS 750ML,44.99,2469,750ML,LIQUOR,B R A N D Y,COGNAC / ARMAGNAC
71070,SEVEN ISLAND BATTLE SPACE 4PK 2406C,4.25,4104,2406C,BEER,B E E R,DOMESTIC MICROBREWS
71071,SUTTER HOME MOSCATO 1.5L,10.99,4593,1.5L,WINE,D O M E S T I C W I N E,PREMIUM CALIFORNIA WINES